@import 'variable';
@import 'general';
@import 'media';




.main___container{
    background-color: $White;
    width: 800px;
    padding: 2rem 2.5rem;
    border-radius: 20px 20px 150px 20px;
    margin-inline: auto;
    @include tablet{
        width: 100%;
    }
    @include smalldevice{
        height: 500px;
        padding: 2rem 1rem;
    }


    form{

        border-bottom: 1px solid $Lightgrey;
        height: 130px;
        position: relative;
        @include tablet{
            height: 150px;
        }
        @include smalldevice{
            height: 180px; 
        }
       
        .form___container{
            display: flex;
            width: 600px;

            @include tablet{
                width: 100%;
                gap: 1rem;
            }
            
            
            .fiedgroup{
                display: flex;
                flex-direction: column;
                justify-content: flex-start;
                flex: .8;

               


                label{
                    font-size: 14px;
                    font-weight: 700;
                    letter-spacing: 2px;
                    color: $Smokeygrey;
                    margin-bottom:.3rem;
                    text-transform: uppercase;
                }

                input{
                    width: 140px;
                    height: 60px;
                    border-radius: 10px;
                    padding: 0 .5rem 0 1rem;
                    border: 1px solid $Lightgrey;
                    color: $Smokeygrey;
                    font-weight: 800;
                    font-size: 2rem;
                    margin-bottom: .5rem;

                    @include tablet{
                        width: 100%;
                        font-size: 20px;
                    }

                    @include smalldevice{
                        font-size: 16PX;
                    }


                    &:focus{
                        outline: 1px solid $Purple;
                        border: none;
                    }
                }

                .error{
                    display: none;
                    font-size: .7rem;
                    color: $Lightred;
                    font-style: italic;
                }
                .active{
                    display: block;
                }
            }            
        }
        #submit{
            position: absolute;
            bottom: -2rem;
            right: 0;
            width: 70px;
            height: 70px;
            border: none;
            border-radius: 50%;
            background-color: $Purple;
            transform: rotate(180deg);
            animation: rotateOut 500ms ease-in-out;

            @include smalldevice{
                width: 50px;
                height: 50px;
                left: 45%;
                bottom: -1.5rem;
            }
            
            &:hover{
                transition: all 500ms ease-in-out;
                background-color: $Offblack;
                cursor: pointer;
            }
            &:focus{
                animation: rotate 500ms ease-in-out;
                transform: rotate(0deg);
                background-color: $Offblack;
            }

            @keyframes rotate {
                from{transform: rotate(180deg);}
                to{transform: rotate(0deg);}
            }

            @keyframes rotateOut {
                from{transform: rotate(0deg);}
                to{transform: rotate(180deg);}
            }
            
        }
    }


    .main___result{
        @include smalldevice{
            display: flex;
            align-items: center;
            justify-content: center;
            height: 300px;
            flex-direction: column;
        }
    }
















}