@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;0,800;1,400;1,700;1,800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  font-family: "Poppins", sans-serif;
  width: 100%;
  height: 100vh;
  font-size: 2rem;
  background-color: hsl(0, 0%, 86%);
}
@media screen and (max-width: 600px) {
  body {
    font-size: 1rem;
  }
}

.result {
  font-style: italic;
}

span {
  color: hsl(259, 100%, 65%);
}

main {
  padding: 1rem;
}

.main___container {
  background-color: hsl(0, 0%, 100%);
  width: 800px;
  padding: 2rem 2.5rem;
  border-radius: 20px 20px 150px 20px;
  margin-inline: auto;
}
@media screen and (max-width: 800px) {
  .main___container {
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .main___container {
    height: 500px;
    padding: 2rem 1rem;
  }
}
.main___container form {
  border-bottom: 1px solid hsl(0, 0%, 86%);
  height: 130px;
  position: relative;
}
@media screen and (max-width: 800px) {
  .main___container form {
    height: 150px;
  }
}
@media screen and (max-width: 600px) {
  .main___container form {
    height: 180px;
  }
}
.main___container form .form___container {
  display: flex;
  width: 600px;
}
@media screen and (max-width: 800px) {
  .main___container form .form___container {
    width: 100%;
    gap: 1rem;
  }
}
.main___container form .form___container .fiedgroup {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex: 0.8;
}
.main___container form .form___container .fiedgroup label {
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 2px;
  color: hsl(0, 1%, 44%);
  margin-bottom: 0.3rem;
  text-transform: uppercase;
}
.main___container form .form___container .fiedgroup input {
  width: 140px;
  height: 60px;
  border-radius: 10px;
  padding: 0 0.5rem 0 1rem;
  border: 1px solid hsl(0, 0%, 86%);
  color: hsl(0, 1%, 44%);
  font-weight: 800;
  font-size: 2rem;
  margin-bottom: 0.5rem;
}
@media screen and (max-width: 800px) {
  .main___container form .form___container .fiedgroup input {
    width: 100%;
    font-size: 20px;
  }
}
@media screen and (max-width: 600px) {
  .main___container form .form___container .fiedgroup input {
    font-size: 16PX;
  }
}
.main___container form .form___container .fiedgroup input:focus {
  outline: 1px solid hsl(259, 100%, 65%);
  border: none;
}
.main___container form .form___container .fiedgroup .error {
  display: none;
  font-size: 0.7rem;
  color: hsl(0, 100%, 67%);
  font-style: italic;
}
.main___container form .form___container .fiedgroup .active {
  display: block;
}
.main___container form .btn {
  position: absolute;
  bottom: -2rem;
  right: 0;
  width: 70px;
  height: 70px;
  border: none;
  border-radius: 50%;
  background-color: hsl(259, 100%, 65%);
  transform: rotate(180deg);
  animation: rotateOut 500ms ease-in-out;
}
@media screen and (max-width: 600px) {
  .main___container form .btn {
    width: 50px;
    height: 50px;
    left: 45%;
    bottom: -1.5rem;
  }
}
.main___container form .btn:hover {
  transition: all 500ms ease-in-out;
  background-color: hsl(0, 0%, 8%);
  cursor: pointer;
}
.main___container form .btn:focus {
  animation: rotate 500ms ease-in-out;
  transform: rotate(0deg);
  background-color: hsl(0, 0%, 8%);
}
@keyframes rotate {
  from {
    transform: rotate(180deg);
  }
  to {
    transform: rotate(0deg);
  }
}
@keyframes rotateOut {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(180deg);
  }
}
.main___container form .btnErr {
  background-color: hsl(0, 100%, 67%);
}
.main___container form .btnErr:focus {
  background-color: hsl(0, 100%, 67%);
}
@media screen and (max-width: 600px) {
  .main___container .main___result {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    flex-direction: column;
  }
}/*# sourceMappingURL=styles.css.map */